
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav, footer {
    background-color: #558b2f !important;
}

.fade-in-div {
    display: none;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
}

.fade-in-div p:hover {
    background: lightgray;
    border-radius: 1em;
}

.brand-logo{
    margin-left: 1rem;
}