{% extends 'web/index.html' %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block navbar-title %}
    {{ request.user.username }}'s Dashboard
{% endblock navbar-title %}

{% block javascript %}
    {{ block.super }}
    <script>
        // CSRF code
        $(document).ready(function () {
            function getCookie(name) {
                var cookieValue = null;
                var i = 0;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (i; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#token-request-submit').click(function (event) {
                $.ajax({
                    type: 'post',
                    data: {},
                    url: "{% url 'create-basic-token' %}",
                    dataType: 'json',
                    success: function (data) {
                        $('#token-request-submit').hide();
                        $('#token').val(data.token);
                        $('#basic-token-div').fadeIn("slow");
                        var clipboard = new Clipboard('.copy-btn');
                        clipboard.on('success', function (e) {
                            var $toastContent = $('<span>Token has been copied to clipboard.</span>');
                            Materialize.toast($toastContent, 3000);
                            e.clearSelection();
                        })
                    },
                    failure: function (data) {
                        console.error('Got an error dude');
                    }
                });
            })
            $('#jwt-token-request-submit').click(function (event) {
                $.ajax({
                    type: 'post',
                    data: {},
                    url: "{% url 'create-jwt-token' %}",
                    dataType: 'json',
                    success: function (data) {
                        $('#jwt-token-request-submit').hide();
                        $('#jwt-token').val(data.token);
                        $('#jwt-token-div').fadeIn("slow");
                        var clipboard = new Clipboard('.copy-btn-jwt');
                        clipboard.on('success', function (e) {
                            var $toastContent = $('<span>Token has been copied to clipboard.</span>');
                            Materialize.toast($toastContent, 3000);
                            e.clearSelection();
                        })
                    },
                    failure: function (data) {
                        console.error('Got an error dude!');
                    }
                });
            })
        });
    </script>
{% endblock %}

{% block main %}
    <article class="container">
        <h2>Request auth token</h2>
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Basic Token</div>
                <div class="collapsible-body">
                    {% csrf_token %}
                    <button class="btn waves-effect waves-light" id="token-request-submit" name="action">
                        Get Token <i class="material-icons right">send</i>
                    </button>
                    <div id="basic-token-div" class="row fade-in-div">
                        <div class="col s8 s2-push">
                            <input class="center-align" id="token" type="text" value="" readonly>
                        </div>
                        <div class="col s2">
                            <button class="btn btn-copy-basic" type="button" data-clipboard-target="#token">
                                <i class="material-icons right">content_copy</i> Copy
                            </button>
                        </div>
                        <div class="col s2">
                            <button class="btn new-btn" type="button">
                                New&nbsp;Token
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>JWT Token</div>
                <div class="collapsible-body">
                    {% csrf_token %}
                    <button class="btn waves-effect waves-light" id="jwt-token-request-submit" name="action">
                        Get Token <i class="material-icons right">send</i>
                    </button>
                    <div id="jwt-token-div" class="row fade-in-div">
                        <div class="col s8 s2-push">
                            <input class="center-align" id="jwt-token" type="text" value="" readonly>
                        </div>
                        <div class="col s2">
                            <button class="btn btn-copy-jwt" type="button" data-clipboard-target="#jwt-token">
                                <i class="material-icons right">content_copy</i> Copy
                            </button>

                        </div>
                        <div class="col s2">
                            <button class="btn new-btn-jwt" type="button">
                                New&nbsp;Token
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        {% if request.user.username == 'admin' %}
            <h2>Other</h2>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Go to the admin page</div>
                    <div class="collapsible-body">
                        <a class="btn waves-effect waves-light" href="/admin">Admin panel</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </article>
{% endblock %}
